@using Microsoft.AspNetCore.Identity
@using ONLINE_TICKET_BOOKING_SYSTEM.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <div class="dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@(string.IsNullOrEmpty(user.ProfileImagePath) ? "/images/default.png" : user.ProfileImagePath)"
                 class="rounded-circle"
                 style="width:35px; height:35px; object-fit:cover;" />
            <span class="ms-2">@($"{user.FirstName} {user.LastName}")</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">My Profile</a></li>

            <li><a class="dropdown-item" asp-controller="Account" asp-action="ResetPassword">Change Password</a></li>

            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class="dropdown-item" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <a class="btn btn-success rounded-pill px-3"
       asp-area="Identity"
       asp-page="/Account/Login"
       asp-route-returnUrl="/Bus/Index">
        Login
    </a>

}
